body {
  font-family: "Inter", sans-serif;
  color: #343a40;
}
::selection {
  background-color: #e03131; /* Màu nền khi bôi đen */
  color: #fff; /* Màu chữ khi bôi đen */
}
.navbar-brand {
  background-image: url(./i.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 48px;
  height: 48px;
}

.navbar-nav .nav-item:hover {
  /* background-color: rgba(180, 190, 203, 0.4); */
  background-color: #e03131;
  color: #fff;
}
.btn-outline-secondary:hover {
  /* background-color: rgba(180, 190, 203, 0.4); */
  background-color: #e03131;
}
.list-group-item-action:hover {
  background-color: #e03131;
  color: #fff;
}

.dropdown-item:hover {
  background-color: #e03131;
  color: #fff;
}

.c-item {
  height: 91vh;
}

.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.3);
}

.btn--big {
  padding: 12px 24px;
  font-size: 20px;
  line-height: 1.5;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  /* border-radius: 10%; */
}

.btn--small {
  padding: 8px 16px;
  font-size: 16px;
  line-height: 1.5;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  /* border-radius: 10%; */
}

.btn-main:link,
.btn-main:visited {
  background-color: #c92a2a;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;

  display: inline-block;
  border-radius: 25px;
}

.btn-main:hover,
.btn-main:active {
  background-color: #e03131;
  transform: translateY(-3px);
}

.item-group {
  padding: 12px 24px;
  font-size: 16px;
  line-height: 1.5;
  border: none;
  outline: none;
  cursor: pointer;
}
.item-group:link,
.item-group:visited {
  background-color: #c92a2a;
  color: #fff;
  font-weight: 400;
  display: inline-block;
}
.item-group:hover,
.item-group:active {
  background-color: #e03131;
}
